@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@100..900&family=Rubik:wght@300..900&display=swap");

* {
    padding: 0;
    margin: 0;
    border: border-box;
    box-sizing: border-box;
}

body {
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Rubik", sans-serif;
    color: #fff;
    background-image: url(background3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

body::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.footer {
    position: absolute;
    bottom: 5%;
    right: 0;
    background-color: #7b7b7b;
    clip-path: polygon(25% 0%, 100% 0, 100% 100%, 25% 100%, 0 50%);
    width: 12%;
    height: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.footer .co,
.copy {
    font-size: 0.7rem;
    font-weight: 100;
    margin-left: 2rem;
}

.footer .copy {
    margin-top: 0.5rem;
}

.footer .copy span {
    font-weight: 500;
}

.weather-app {
    position: relative;
    background-image: url(background3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    min-width: 60vw;
    display: flex;
    opacity: 1;
    z-index: 0;
}

.weather-app::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    height: 100%;
}

.first-portion {
    width: 65% !important;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    z-index: 1;
}

.first-portion .logo img {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    height: 5rem;
    opacity: 0.4;
}

.temp-city {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
}

.temp-city .temp {
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: -1.5rem;
    font-family: "Poppins", sans-serif;
    letter-spacing: 3px;
}

.temp-city .city {
    font-size: 2.5rem;
    font-weight: 100;
    margin: 0 0 -0.2rem 0.5rem;
}

.date-time {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.date-time .time {
    font-size: 2rem;
    font-weight: 200;
    display: flex;
    align-items: baseline;
}

.date-time .time .am-pm {
    font-size: 1.3rem;
    margin-left: 0.5rem;
    font-weight: 100;
}

.date-time .date {
    font-weight: 100;
}

.second-portion {
    position: relative;
    width: 35%;
    top: 0;
    right: 0;
    background: rgba(110, 110, 110, 0.25);
    backdrop-filter: blur(10px);
    z-index: 2;
    padding: 2rem 1.5rem 0 1.5rem;
}

.second-portion .search input {
    background: none;
    border: none;
    outline: none;
    padding: 0 1rem 0.4rem 0;
    bottom: 0;
    border-bottom: 1px solid #ccc;
    width: 75%;
    font-size: 1.1em;
    color: #e1e1e1;
    text-transform: capitalize;
}

.second-portion .search input::placeholder {
    color: #e1e1e1;
}

.second-portion .search button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.4em 1.5em;
    margin: 0;
    border: none;
    outline: none;
    background-color: #ec6e4c;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    transition: 0.4s;
}

.second-portion .search button:hover {
    color: black;
    background-color: #fff;
}

.second-portion .status {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: 27%;
}

.second-portion .status h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
    margin-top: -2.4rem;
    display: flex;
}

.second-portion .not-found {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 60%;
}

.second-portion .not-found img {
    width: 50%;
}

.second-portion .not-found p {
    color: #d5d4d4;
    font-size: 1.4rem;
}

.second-portion .not-found p:nth-child(3) {
    color: #ff3700;
    font-size: 0.8rem;
}

.second-portion .no-input {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 60%;
    flex-wrap: wrap;
    text-align: center;
}

.second-portion .no-input i {
    color: #ffc400;
    font-size: 2.5rem;
}

.second-portion .no-input p {
    color: #d5d4d4;
    font-size: 1.3rem;
}

.block {
    display: block !important;
}

.flex {
    display: flex !important;
}

.none {
    display: none !important;
}

.second-portion .status .img {
    height: 7rem;
    margin-top: -0.4rem;
}

.second-portion .location {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 300;
}

.second-portion .location p,
span {
    text-transform: capitalize;
}

.second-portion .location span {
    margin-left: 0.5rem;
}

.second-portion ul li {
    line-height: 4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    list-style: none;
    padding-left: 0.5rem;
    font-size: 1.1rem;
    font-weight: 300;
    opacity: 0.8;
}

.second-portion ul li i {
    margin: 1.3rem 1rem 0 0;
}

.second-portion ul li:nth-child(5) {
    border-bottom: none;
}

.second-portion ul li span {
    float: right !important;
    padding-right: 0.5rem;
}

.second-portion ul li .span2,
.span4 {
    float: right;
    margin-right: -3rem;
}

.custom-loader {
    margin-top: 1.2rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #ec6e4c 94%, #0000) top/4px 4px no-repeat,
        conic-gradient(#0000 30%, #ec6e4c);
    mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
    animation: s3 1s infinite linear;
}

@keyframes s3 {
    100% {
        transform: rotate(1turn);
    }
}

@media (max-width: 570px) {
    .weather-app {
        height: 100vh;
        width: 100vw;
        flex-direction: column;
    }

    .first-portion {
        min-height: 30%;
        padding: 1rem;
    }

    .temp-city {
        position: static;
        margin-bottom: 0.5rem;
    }

    .second-portion {
        width: 100%;
        padding: 1rem;
    }

    .temp-city .temp {
        font-size: 3rem;
    }

    .temp-city .city {
        font-size: 1.5rem;
        margin-bottom: -0.7rem;
    }

    .first-portion .logo,
    .footer {
        display: none !important;
    }

    .second-portion .search input {
        width: 85%;
        height: 2rem;
        padding: 0 1rem 0 0;
        font-size: 1em;
    }

    .date-time {
        position: absolute;
        right: 1rem;
    }

    .date-time .time {
        font-size: 1rem;
        font-weight: 200;
        display: flex;
        align-items: baseline;
    }

    .date-time .time .am-pm {
        font-size: 1rem;
        margin-left: 0.5rem;
        font-weight: 100;
    }

    .date-time .date {
        font-weight: 100;
        font-size: 0.7rem;
    }

    .second-portion .search button {
        padding: 1rem;
    }

    .second-portion .no-input {
        min-height: inherit;
        margin: 5rem 0;
    }

    .second-portion .no-input p {
        font-size: 1rem !important;
    }

    .second-portion .status .img {
        height: 6rem;
    }

    .second-portion .status .stat {
        font-size: 2rem;
    }

    .second-portion ul li {
        line-height: 3rem;
        font-size: 1rem;
    }

    .second-portion .not-found {
        margin: 3rem 0 9rem 0;
    }

    .second-portion .not-found img {
        width: 10rem;
    }

    .second-portion .not-found p {
        font-size: 1.3rem;
    }

    .mob-footer {
        display: flex !important;
        height: 3rem;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 0.6rem;
        background-color: #9e4931;
        font-weight: 100;
        position: relative;
        color: #c4c4c4;
        bottom: 0;
    }
}

@media (min-width: 570px) and (max-width: 810px) {
    body {
        min-height: 100vh;
    }

    .weather-app {
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        margin-bottom: 16%;
    }

    .first-portion {
        min-height: 35%;
        padding: 1rem;
    }

    .temp-city {
        position: static;
    }

    .second-portion {
        width: 100%;
        padding: 1rem;
    }

    .temp-city .temp {
        font-size: 4.5rem;
    }

    .temp-city .city {
        font-size: 2.5rem;
        margin-bottom: -0.6rem;
    }

    .first-portion .logo,
    .footer {
        display: none !important;
    }

    .second-portion .search input {
        width: 90%;
        height: 2.3rem;
        padding: 0 1rem 0 0;
        font-size: 1em;
    }

    .date-time {
        position: absolute;
        right: 1.5rem;
    }

    .date-time .time {
        font-size: 1.2rem;
        font-weight: 200;
        display: flex;
        align-items: baseline;
    }

    .date-time .time .am-pm {
        font-size: 1rem;
        margin-left: 0.5rem;
        font-weight: 100;
    }

    .date-time .date {
        font-weight: 100;
        font-size: 0.9rem;
    }

    .second-portion .search button {
        padding: 1.2rem;
    }

    .second-portion .no-input {
        min-height: inherit;
        margin: 5rem 0;
    }

    .second-portion .location {
        font-size: 1.4rem;
    }

    .second-portion .status .img {
        height: 7rem;
        padding-bottom: 1rem;
    }

    .second-portion .status .stat {
        font-size: 2rem;
    }

    .second-portion ul li {
        line-height: 3.5rem;
        font-size: 1rem;
    }

    .second-portion .not-found {
        margin: 3rem 0 10.8rem 0;
    }

    .second-portion .not-found img {
        width: 10rem;
    }

    .mob-footer {
        display: flex !important;
        height: 3rem;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 0.6rem;
        background-color: #ec6e4c;
        font-weight: 100;
    }
}

@media (min-width: 810px) and (max-width: 1255px) {
    .weather-app {
        min-height: 80%;
        min-width: 90%;
    }

    .footer {
        display: none !important;
    }

    .second-portion .not-found {
        min-height: 100%;
        margin: -4rem 0 22rem 0;
    }

    .second-portion .not-found img {
        width: 10rem;
    }

    .second-portion .no-input {
        min-height: inherit;
        margin: 10.2rem 0 15rem;
    }
}
